@import "./bootstrap/variables"

$interval: 30px

@mixin background($image, $height)
  background: url($image) no-repeat center
  height: $height
  background-size: contain

@mixin image($image, $width, $height)
  background: url($image) no-repeat center
  width: $width
  height: $height
  background-size: cover

@mixin border-photo
  border: 5px solid white

@mixin center
  margin-right: auto
  margin-left: auto

html, body
  background-color: $body-bg

#page
  max-width: 1360px
  +center

  #content
    width: 100%
    float: left
    background-color: white
    padding: $interval * 3 0

    h1, h2
      text-align: center

    h2
      font-size: 40px

.block
  padding-top: $interval * 1.5
  padding-bottom: $interval * 1.5
  width: 100%
  float: left
  border-bottom: 10px solid $body-bg

  &:first-child
    padding-top: 0

  &:last-child
    padding-bottom: 0

#girls
  +background('images/girls.png', 700px)
  margin-bottom: $interval
  position: relative
  border-bottom: none

  h1
    font-size: 70px
    color: white
    background-color: lighten($body-bg, 15%)
    padding: 10px 0 15px 0
    position: absolute
    top: 50%
    left: 0
    right: 0

#happy
  background-color: #ee971d
  padding: $interval * 2

  $size: 200px

  h2
    float: left
    line-height: $size
    margin: 0
    color: white

  #happy-img
    +image('images/happy.jpg', $size, $size)
    +border-photo
    +center

  #happy2-img
    +image('images/happy2.jpg', $size, $size)
    +border-photo
    +center

#money
  +background('images/money.jpg', 900px)

  h2
    background-color: white
    padding: $interval / 2 0

#health
  $height: 300px

  +background('images/health.jpg', $height)

  div
    text-align: center
    line-height: $height - $interval * 3
    font-size: 25px

#mans
  text-align: center
  background-color: #009595

  div
    margin-right: $interval
    display: inline-block

    &:last-child
      margin-right: 0

  h2
    margin-bottom: $interval * 1.5
    color: white

  $width: 160px
  $height: 260px

  #borat-img
    +image('images/borat.jpg', $width, $height)
    +border-photo

  #cartman-img
    +image('images/cartman.jpg', $width, $height)
    +border-photo

  #khal-img
    +image('images/khal.jpg', $width, $height)
    +border-photo

  #kriks-img
    +image('images/kriks.jpg', $width, $height)
    +border-photo

  #spartacus-img
    +image('images/spartacus.jpg', $width, $height)
    +border-photo

  #batman-img
    +image('images/batman.jpg', $width, $height)
    +border-photo

#drink
  $size: 200px

  #drink1-img
    +image('images/vipiem1.jpg', $size, $size)
    +center

  #drink2-img
    +image('images/vipiem2.jpg', $size, $size)
    +center

#band

  #band-img
    +background('images/band.jpg', 400px)

  h2
    padding-top: $interval

#power
  +background('images/hero.jpg', 765px)
  background-color: black
  position: relative

  .description
    background-color: white
    position: absolute
    bottom: $interval / 2
    left: $interval / 2
    padding: $interval / 2

#anisimova-power-img
  +background('images/hot.jpg', 400px)

#polyanina-power-img
  +background('images/heart-dance.jpg', 400px)

#neganova-power-img
  +background('images/magnet.jpg', 400px)

#bets-power-img
  +background('images/flowers.jpg', 400px)

.power
  display: none